

<div class="text-3xl lg:text-6xl text-bolder text-blue-700 p-4 pb-2">
  Doomlings Score Calculator
</div>
<div class="text-lg lg:text-2xl text-bolder text-purple-600 p-4 pt-0">
  Because why do it yourself
</div>
<div class="space-y-px h-full items-center">
  <div class="text-center text-2xl lg:text-4xl my-8 lg:my-0 lg:h-1/4 flex items-center justify-center">
    <%= link_to "Score a new Game", new_score_path, class: "text-gray-700 hover:text-blue-600 no-underline" %>
  </div>

  <div class="text-center text-2xl lg:text-4xl my-8 lg:my-0 lg:h-1/4 flex items-center justify-center">
    <div class="inline-block">
    <%= form_tag new_score_path, method: :get do %>
      <%= submit_tag "Add your score to a game", class: "text-gray-700 hover:text-blue-600 no-underline" %><br>
      <%= text_field_tag :game_name, nil, class: "rounded-xl mt-5", placeholder: "Game Name"  %>
    <% end %>
      </div>
  </div>
</div>
